@model ExportDataTableToExcelInMVC4.Models.ImportarModel

<!--scripts de PopUps-->
<script>
    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "onclick": null,
            "showDuration": "0",
            "hideDuration": "0",
            "timeOut": "0",
            "showMethod": "fadeIn"
        };
            // show when page load          
            toastr.info('Solucion: Introduzca un archivo cuya extension sea .xls o .xlsx, y vuelva a intentarlo');
            toastr.error('Error: (Archivo) El archivo introducido no es un Excel.');            
        });
</script>
<!--END scripts de los PopUps-->
<p>><u>El archivo introducido</u> <b>no es un Excel</b>.</p>

